<GridLayout backgroundColor="#fdcb97">
    <Image src="~/assets/icon.png" stretch="none" class="img-login" horizontalAlignment="center"></Image>

    <ScrollView>
        <StackLayout verticalAlignment="center" class="card-login">
            <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">
                <Label class="h3 text-center" text="Sign In"></Label>
                <StackLayout class="input-field">
                    <Label text="Username" class="label font-weight-bold m-b-5"></Label>
                    <TextField #username="ngModel" class="input" [(ngModel)]="input.username" [isEnabled]="!processing"
                        required></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Password" class="label font-weight-bold m-b-5"></Label>
                    <TextField #password="ngModel" secure="true" class="input" [(ngModel)]="input.password" [isEnabled]="!processing"
                        required></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
            </StackLayout>
            <Button class="btn btn-primary w-full" text="Login" (tap)="login()" ></Button>
            <Label [nsRouterLink]="['/register']" text="Not a member? Register here." class="text-center redLabel footnote"></Label>

        </StackLayout>
    </ScrollView>
    <ActivityIndicator class="activity-indicator" [busy]="processing"></ActivityIndicator>
</GridLayout>