<ActionBar class="action-bar2" title="PPSU">
    <ActionItem class="action-item2" text="Logout" ios.position="true" (tap)="logout()"></ActionItem>
</ActionBar>
<GridLayout backgroundColor="#fdcb97">
    <ScrollView>
        <StackLayout margin="10" verticalAlignment="center">
            <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">
                <Label class="h4 text-right indicator" text="Progress" *ngIf="!trackingOff"></Label>
                <Label class="h3 text-center" text="Aktivitas"></Label>
                <StackLayout class="input-field">
                    <Label text="Kegiatan" class="label font-weight-bold m-b-5"></Label>
                    <TextField #trackname="ngModel" class="input" [(ngModel)]="trackName" [isEnabled]="trackingOff" required></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Latitude : {{loc.lat}}" class="label font-weight-bold m-b-5"></Label>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Longitude : {{loc.lng}}" class="label font-weight-bold m-b-5"></Label>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <Button class="btn btn-primary w-full" [text]="trackingOff ? 'Mulai' : 'Tracking . . .'" [isEnabled]="trackingOff" (tap)="startTracking()"></Button>
                <Button class="btn btn-primary btn-orange w-full" text="Selesai" [isEnabled]="!trackingOff" (tap)="endTracking()"></Button>
                <Label text="Developed by Nakoding" class="text-center redLabel footnote"></Label>
            </StackLayout>
        </StackLayout>
    </ScrollView>
    <ActivityIndicator class="activity-indicator" [busy]="processing"></ActivityIndicator>
</GridLayout>